SELECT CDES_ENCOURS.NOM_MARCHE AS marché,
	CDES_ENCOURS.REFERENCE_PTO AS [Ref PTO],
	CDES_ENCOURS.DATE_CREAT as [Date de création], 
	CDES_ENCOURS.CDE_NUM AS BC,
	CDES_ENCOURS.NOM_CLIENT AS FAI,
	CDES_ENCOURS.OFFRE_NOM AS Offre,
	CDES_ENCOURS.STATUT_PDC AS Statut,
	CDES_ENCOURS.ID_RDV as [id RDV],
	CDES_ENCOURS.NOM_CLI_FINAL AS Client,
	CDES_ENCOURS.PRESENCE_PTO,
	CDES_PREC.DATE_CREAT AS [Date de création], 
	CDES_PREC.CDE_NUM AS BC_PREC,
	CDES_PREC.NOM_CLIENT AS FAI_PREC,
	CDES_PREC.OFFRE_NOM AS Offre_PREC,
	CDES_PREC.STATUT_PDC AS Statut_PREC,
	CDES_PREC.ID_RDV AS [Id RDV]_PREC,
	CDES_PREC.NOM_CLI_FINAL AS Client_PREC
FROM
(
		SELECT ROW_NUMBER() OVER(PARTITION BY REFERENCE_PTO ORDER BY REFERENCE_PTO, DATE_CREAT) as row_num,
			NOM_MARCHE,
			REFERENCE_PTO, 
			DATE_CREAT, 
			CDE_NUM,
			NOM_CLIENT,
			OFFRE_NOM,
			STATUT_PDC,
			ID_RDV,
			NOM_CLI_FINAL,
			PRESENCE_PTO
		FROM X3.COMMANDES
		WHERE REFERENCE_PTO <> ' ' AND REFERENCE_PTO <> 'HOTLINE' AND TYPE_BC = 'NORMAL'
) as CDES_ENCOURS
LEFT JOIN (
				SELECT ROW_NUMBER() OVER(PARTITION BY REFERENCE_PTO ORDER BY REFERENCE_PTO, DATE_CREAT) as row_num,
					NOM_MARCHE,
					REFERENCE_PTO, 
					DATE_CREAT, 
					CDE_NUM,
					NOM_CLIENT,
					OFFRE_NOM,
					STATUT_PDC,
					ID_RDV,
					NOM_CLI_FINAL,
					PRESENCE_PTO
				FROM X3.COMMANDES
				WHERE REFERENCE_PTO <> ' ' AND REFERENCE_PTO <> 'HOTLINE' AND TYPE_BC = 'NORMAL'
) as CDES_PREC
	ON CDES_ENCOURS.REFERENCE_PTO = CDES_PREC.REFERENCE_PTO AND CDES_PREC.row_num + 1 = CDES_ENCOURS.row_num
WHERE
	CDES_ENCOURS.STATUT_PDC = 'En cours'
	AND CDES_PREC.DATE_CREAT is not NULL
	AND CDES_ENCOURS.OFFRE_NOM IN ('FTTH ACTIF BEST EFFORT','BUSINESS CONNECT','BUSINESS ACCESS')